/* chartboxes.css
 *
 * UI for the boxes in the charts.
 **/

/***********************************
/
/  Main containers. Draggable, movable.
/
/***********************************/
.block-master {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 14em;
  max-width: 14em;
}

.block-container {
  display: block;
  position: relative;
  flex: 1 1 content;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 1em;
  background-color: #eee;
  min-height: 8em;
  max-width: 14em;
}

.block-error .block-container {
  border: 3px solid red;
}

.error-message {
  max-width: 200px;
  max-height: 200px;
  overflow-x: wrap;
  overflow-y: scroll;
}

.block-error-loop .block-container {
  border: 3px solid pink;
}

/* Draggable header */
.block-head {
  position: relative;
  height: 1.3em;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid black;
  background-color: #ddf;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  flex: 0 0 auto;
  font-size: 70%;
}

/* Container for what's in the following sections. */
.block-center {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.block-params {
  padding: 0.5em;
}

.block-outputs:not(:empty) {
  border-top: 1px solid black;
  padding-top: 0.5em;
}

/***********************************
/
/  The label and parameters.
/
/***********************************/

.block-params label {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 1.8em;
}

.block-params label * {
  flex-grow: 6;
  display: inline-block;
  width: 80%;
}

.block-params label span {
  display: inline-block;
  flex-grow: 4;
}

.block-params label img {
  display: inline-block;
  max-height: 1.5em;
  max-width: 2em;
  padding-right: 3em;
  flex-grow: 6;
}

/***********************************
/
/  Probably move to styles.css: accept and provide cursors.
/
/***********************************/

.param-input {
  cursor: cell;
}

/***********************************
/
/  Output images attached below the op blocks.
/
/***********************************/

.blockout-frame {
  width: 100%;
  height: 100%;
  max-height: 7em;
  overflow: hidden;
  padding-bottom: 2em;
  text-align: center;
}

.blockout-frame img {
  width: 84%;
  height: 84%;
  margin-left: 8%;
  margin-right: 8%;
}

.blockout-frame img.complex-output {
  margin-top: 1em;
  max-width: 2em;
  max-height: 2em;
}

.drag-image {
  max-width: 1.5em;
  max-height: 1.5em;
}
