/* main.css
 *
 * Major UI elements for the main 'app' portion of it.
 **/

#sheet {
  width: 100vw;
  color: #000;
  display: flex;
  flex-flow: row;
  min-height: 0;
  height: 100%;
}

#main {
  display: block;
  height: 100%;
  width: 100%;
  flex: 1 1 content;
  overflow: scroll;
  position: relative;
}

#flowchart {
  z-index: 200;
}

#flowlines {
  z-index: 199;
  pointer-events: none;
  user-select: none;
}

#templines {
  z-index: 201;
  user-select: none;
}

#trashit {
  display: inline-block;
  width: content;
  font-size: 200%;
  z-index: 201;
}

#main .layer {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/***********************************
/
/  JSON Editor dialog.
/
/***********************************/

.jsoneditor {
  height: 100%;
}

.edit-buttons {
  display: flex;
  flex-flow: row;
  margin-top: 5px;
  position: relative;
  height: 2em;
}

.edit-buttons button {
  flex: 1 1 content;
  border-radius: 4em;
}

.edit-buttons button.edit-save {
  flex-grow: 2;
}
