/* main.css
 *
 * Major UI element separation for cvlive.
 **/

#sheet {
  width: 100vw;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-flow: row;
  min-height: 0;
  height: 100%;
}

body {
  font-size: 90%;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

#head {
  padding: 0em 0em 0em 0em;
  flex: 0 0 content;
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: column;
}

#topbar {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row;
}

#topbar #title {
  cursor: pointer;
  flex: 0 0 content;
  display: inline-block;
  margin-right: 1em;
  font-size: 150%;
  font-weight: bold;
  height: 100%;
  color: #ff8c00;
  text-stroke: 1px #cc5900;
  -webkit-text-stroke: 1px #cc5900;
  -webkit-text-fill-color: #ff8c00;
}

#topbar #title #qmark {
  font-weight: bold;
  bottom: 0.5em;
  right: 1em;
  font-size: 50%;
  -webkit-text-stroke: 0px blue;
  -webkit-text-fill-color: blue;
}

#topbar div {
  position: relative;
  bottom: 0;
  margin-right: 2em;
  bottom: 0;
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

#topbar-filler {
  flex: 1 1 auto;
}

#about {
  position: absolute;
  z-index: 1000;
  top: 5em;
  left: 5em;
  width: 80vw;
  max-width: 40em;
  text-wrap: auto;
  display: inline-block;
  padding: 0.5em 1em 1em 1em;
  border: 5px solid #363;
  background-color: #eee;
  overflow-y: scroll;
}

#about .toggle-about {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: 0.5em;
  right: 1em;
  color: blue;
}

#about p {
  text-indent: 2em;
}

#main {
  flex: 1 1 auto;
  overflow: scroll;
  position: relative;
}

#main .layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/***********************************
/
/  The many blocks in the middle.
/
***********************************/
.opcontainer {
  position: absolute;
  display: block;
  width: 14em;
  height: 5em;
  border: 3px solid black;
  border-radius: 1em;
  background-color: #eee;
}

.opblock {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  width: 100%;
}

.opinput {
  flex: 0 0 auto;
  left: 0.5em;
  display: block;
  height: 5em;
  width: 1em;
  border-right: 1px solid black;
}

.opoutput {
  flex: 0 0 auto;
  display: block;
  height: 5em;
  width: 1em;
  border-left: 1px solid black;
}

.ophead {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row;
  height: 1em;
  width: 100%;
  vertical-align: middle;
}

.opcenter {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.opdrag {
  flex: 0 0 content;
  height: 1em;
  left: 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  background-color: #ddf;
}

.opcenter .ops {
  display: block;
  flex: 1 1 auto;
}

.ops h3 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  display: block;
  overflow-y: hidden;
}

.opright {
  display: block;
  position: relative;
  height: 100%;
  border-left: 1px solid black;
  max-width: 5em;
  max-height: 5em;
}
