/* styles.css
 *
 * Simple, global styles that should apply almost everywhere, and especially
 * for, e.g: floating dialogs, hidden dragons, etc.
 **/

.drag-start {
  user-select: none;
}

.cvstyle {
  background-color: #ddd;
  color: #222;
}

span.quote {
  font-style: italic;
  color: #cc6600;
  font-weight: bold;
}

.dialog {
  position: fixed;
  top: 10em;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.floater {
  position: fixed;
  top: 10em;
  left: 50%;
  background-color: #efe;
  color: black;
  border: 2px solid #eef;
  z-index: 1000;
  width: 30%;
  min-width: 12em;
  max-width: 30em;
  min-height: 4em;

  display: flex;
  flex-flow: column;
}

.floater h3 {
  display: block;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid black;
  margin: 0.25em 0 0 0;
  padding: 0;
}

.floater h3 span {
  position: absolute;
  left: 0.5em;
}

.floater h3 .closer {
  position: absolute;
  font-size: 80%;
  color: red;
  right: 0.25em;
  top: 0;
}

.floater .body {
  min-height: 4em;
  flex: 1 1 auto;
}

.floater .foot {
  flex: 1 1 content;
}

#user-alert {
  padding: 1em;
  background-color: #eee;
  color: black;
  border: 2px solid red;
  z-index: 3000;
}

#user-alert p {
  display: block;
}

[data-onclick] {
  cursor: pointer;
}
