/* styles.css
 *
 * Simple, global styles that should apply almost everywhere, and especially
 * for, e.g: floating dialogs, hidden dragons, etc.
 **/

.drag-start {
  user-select: none;
}

.cvstyle {
  background-color: #ddd;
  color: #222;
}

span.quote {
  font-style: italic;
  color: #cc6600;
  font-weight: bold;
}

.dialog {
  position: fixed;
  top: 10em;
  left: 15%;
  z-index: 900;
  min-width: 20em;
  max-width: 45em;
  background-color: #fee;
  border: 3px solid black;
  padding: 0.5em;
  border-radius: 8px;
}

.dialog img {
  max-width: 43em;
  max-height: 43em;
}

.dialog h3 {
  display: block;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid black;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 0;
}

#user-alert {
  padding: 1em;
  background-color: #eee;
  color: black;
  border: 2px solid red;
  z-index: 3000;
}

#user-alert p {
  display: block;
}

[data-onclick] {
  cursor: pointer;
}

/* Little things like the closing X in the top-right. */
.closer {
  position: absolute;
  font-size: 80%;
  color: red;
  right: 0.2em;
  top: 0.1em;
}

#upload-dialog input {
  margin-top: 0.2em;
}
