    <div id="about" data-hide="about" data-hide-default="false">
      What is OpenCV Live?
      <div id="about-closer" data-onclick="toggle" data-target="#about" class="toggle-about">&lt;close&gt;</div>
      <br/>
      <br/>
      <p>
        <span class="quote">
          &quot;Help! I'm a total noob to OpenCV. I don't know how to get the effect
          I want. But hey, I can make a little server to help...&quot; - Me.
        </span>
      </p>
      <p>
        OpenCV can be a bit complicated to use at first. At least, for me.  But
        even worse, I have no way to visualize how anything flows. People who
        can go &quot;Yah, you should pipe that image through Grayscale, a
        gaussian threshold, toss it in canny and get the contours, use that to
        ...&quot; - all over my head!
      </p>
      <p>
        So this project is aimed at letting me build and visualize effect
        chains, and see how modifying values earlier in the chain have
        an impact on the results three, four, ten steps down the chain.  Does
        changing the blur in the second step improve the edge recognition
        in step seven? Now I can find out!
      </p>
      <p>
        <ol/>
          <li>
            Honestly, a lot of this is better explained by just watching the YT
            demo. (At least until somebody makes a better one than mine!)
            <a href="https://youtu.be/NReY6d7Pi4M">
              https://youtu.be/NReY6d7Pi4M
            </a>
          </li>
          <li>
            Let you select one or more images to experiment on. Since this is
            intended to be run locally in your own python environment, I'm not
            concerned about the safety of mine ;).
          </li>
          <li>
            Add an 'op' block - they take images and configuration as input,
            and generate image outputs. (Or other things, such as polygon
            coordinates).
          </li>
          <li>
            Most ops have a single input and single output. Some can have
            multiple inputs and/or outputs. That's the main reason this is a
            map instead of a series. Organization is entirely up to you.
          </li>
          <li>
            Many blocks will take any type of image matrix and operate on it.
            But some will only work on grayscale. Some on color, etc. If a block
            works on grayscale and you pass it a color image, it will auto-convert
            from color to grayscale. But using default values, which might not
            be what you want. Ditto for grayscale to color, or anything involving
            HSV, BGR. We use BGR here as that seems to be the most common for
            opencv. But if popular demand requests RGB, I'll try adding support
            for multiple types.
          </li>
          <li>
            Since it's downloaded onto your machine, you can very easily add
            your own python wrappers for opencv. Most are only a few lines,
            of which the bulk is accepted types for that argument!
          </li>
          <li>
            Want to share your work with somebody else? Use "View chart JSON"
            and it will give you a JSON to copy+paste to someone. It removes
            image references since they're all local, anyway. The recipient can
            open "Edit raw chart json" and paste your JSON-y gift in there.
          </li>
        </ol>
      </p>
      <p>
        We would like to thank highlightjs.org for their fantastic code
        highlighting for our python code examples.
      </p>
    </div>
