Image blocks, for when we drag images onto the flowchart.
<div id="template-block-image">
  <div class="block-master" style="width: 8em;" data-drop-ok=".opdrop" data-drag="move" data-drag-bind="#flowchart" data-drag-drop="blockDrop" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-move="redrawAllNodeLines">
    <div class="block-container">
      <div class="block-contents">
        <div class="block-input block-arr"><span class="vcenter"></span></div>
        <div class="block-center">
          <span class="drag-start block-head block-drag"></span>
          <div class="block-lower">
            <div class="block-image-frame" data-onclick="showLargeChildImage"/>
            </div>
          </div>
        </div>
        <div class="block-output block-arr" data-drag="point" data-drag-bind="#flowchart" data-drag-drop="bindToTarget" data-drag-drop-on=".block-accept"><span class="vcenter">&rarr;</span></div>
      </div>
    </div>
  </div>
</div>

The big kahunas: the blocks in the flowchart that are movable,
drop-onable, configurable, removable, added, etc.

They have:
  - A left box for dropping and connecting inputs to.
  - A right box for dragging to others' inputs
  - An operation associated with it
  - An image of the output.
  - Configurable arguments.

<div id="template-block-op">
  <div class="block-master" style="width: 14em;" data-drop-ok=".opdrop" data-drag="move" data-drag-bind="#flowchart" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-drop="blockDrop" data-drag-move="redrawAllNodeLines">
    <div class="block-container">
      <div class="block-contents">
        <div class="block-input block-arr block-accept"><span class="vcenter">&#x25CE;</span></div>
        <div class="block-center">
          <span class="drag-start block-head block-drag"></span>
          <div class="block-lower">
            <div class="oplisting">
            </div>
          </div>
        </div>
        <div class="block-output block-arr"></div>
      </div>
    </div>
  </div>
</div>

<div id="template-opnode">
  <div style="max-height: 7em; width: 14em;" class="block-container opnode" data-drop-ok=".opdrop" data-drag="trigger" data-drag-bind="#flowchart" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-drop="blockDrop">
    <div class="block-contents">
      <div class="block-input block-arr block-accept"><span class="vcenter">&#x25CE;</span></div>
      <div class="block-center">
        <span class="drag-start block-head block-drag"></span>
        <div class="block-image-frame" data-onclick="showLargeChildImage" data-drag-click="showLargeChildImage"/>
        </div>
      </div>
      <div class="block-output block-arr" data-drag="point" data-drag-bind="#flowchart" data-drag-drop="bindToTarget" data-drag-drop-on=".block-accept"><span class="vcenter">&rarr;</span></div>
    </div>
  </div>
</div>
