Image blocks, for when we drag images onto the flowchart.
<div id="template-block-image">
  <div class="block-master" style="width: 9em;" data-drop-ok=".opdrop" data-drag="move" data-drag-bind="#flowchart" data-drag-drop="blockDrop" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-move="redrawAllNodeLines">
    <div class="block-container">
      <div class="block-contents">
        <div class="block-input block-edge"></div>
        <div class="block-center">
          <span class="drag-start block-head block-drag"></span>
          <div class="block-lower">
            <div class="block-image-frame" data-onclick="showLargeChildImage">
            </div>
          </div>
        </div>
        <div class="block-out">
          <div class="block-output block-edge block-provider" data-drag="point" data-drag-bind="#flowchart" data-drag-drop="debugTrigger" data-drag-drop-on=".accept-image">
            <span class="vcenter">&#128444;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

Complex data - edited in JSON.
<div id="template-block-complex">
  <div class="block-master" style="width: 9em;" data-drop-ok=".opdrop" data-drag="move" data-drag-bind="#flowchart" data-drag-drop="blockDrop" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-move="redrawAllNodeLines">
    <div class="block-container">
      <div class="block-contents">
        <div class="block-input block-edge"></div>
        <div class="block-center">
          <span class="drag-start block-head block-drag"></span>
          <div class="block-lower">
            <div class="block-image-frame" data-onclick="editElementJSON">
              <img class="block-image" data-name="Complex input" src="samples/matrixmath.png"/>
            </div>
          </div>
        </div>
        <div class="block-out">
          <div class="block-output block-edge block-provider" data-drag="point" data-drag-bind="#flowchart" data-drag-drop="debugTrigger" data-drag-drop-on=".accept-complex">
            <span class="vcenter">[x]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

The big kahunas: the blocks in the flowchart that are movable,
drop-onable, configurable, removable, added, etc.

They have:
  - A left box for dropping and connecting inputs to.
  - A right box for dragging to others' inputs
  - An operation associated with it
  - An image of the output.
  - Configurable arguments.

<div id="template-block-op">
  <div class="block-master block-op" data-drop-ok=".opdrop" data-drag="move" data-drag-bind="#flowchart" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-drop="blockDrop" data-drag-move="redrawAllNodeLines">
    <div class="block-container">
      <div class="block-contents">
        <div class="block-input block-edge"></div>
        <div class="block-center">
          <span class="drag-start block-head block-drag"></span>
          <div class="block-lower">
            <div class="oplisting">
            </div>
          </div>
        </div>
        <div class="block-out">
          <div class="block-output block-edge block-provider">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="template-opout">
  <div style="max-height: 7em;" class="block-container opnode" data-drop-ok=".opdrop" data-drag="trigger" data-drag-bind="#flowchart" data-onmouseover="raiseZIndex" data-zindex="block" data-drag-drop="blockDrop">
    <div class="block-contents">
      <div class="block-input block-edge"></div>
      <div class="block-center">
        <span class="drag-start block-head block-drag"></span>
        <div class="block-image-frame" data-onclick="showLargeChildImage" data-drag-click="showLargeChildImage"/>
        </div>
      </div>
      <div class="block-out">
        <div class="block-output block-edge block-provider">
        </div>
      </div>
    </div>
  </div>
</div>
